<h3>
    Hey there <%= @user.firstname %>, here's what's been happening with <%= @group.name %>
</h3>

<% recent_notifications = @user.recent_notifications_for_group(@group.id) %>

<p>You have <%= recent_notifications.length %> recent <%= recent_notifications.length == 1 ? "notification" : "notifications" %></p>

<ul>
    <% recent_notifications.each do |notification| %>
        <li>
            <a href="<%= "#{root_url}#{notification.url.sub(/^\//, '')}" %>" target="_blank">
                <%= notification.notification_header %>
            </a>
        </li>
    <% end %>
</ul>

<a href="<%= unsubscribe_url id: @membership.id %>">
    If you would no longer like to receive these emails, click here to unsubscribe
</a>